.about {
    background: url('../Assets/R.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: start;

}

.about .para {
    margin: 1rem;
    width: 50%;
    display: flex;
}

.about .para:nth-child(1) {
    align-self: flex-end;
}

.about .para:nth-child(2) {
    align-self: flex-start;
}

.about .para:nth-child(3) {
    align-self: flex-end;
}

.para p {
    font-size: 2rem;
    padding: .5rem;
    flex: 1;
    padding: 2rem;
    color: var(--text);
    background: var(--bg);
    border-radius: .5rem;
}


/* Responsive */
@media screen and (max-width:820px) {
    .about .para {
        width: 100%;
    }
}