.page.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 1rem;
}

.gallery .images {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

.images img {
    width: 100%;
    box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2),
        inset .5rem .5rem 10px rgba(0, 0, 0, 0.2),
        .5rem .5rem 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}