.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    padding: 0 5rem;
    align-items: center;
    justify-content: space-between;
    background: var(--bg);
    transition: .3s ease;
    z-index: 5;
    box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2),
        inset .5rem .5rem 10px rgba(0, 0, 0, 0.2),
        .5rem .5rem 10px rgba(0, 0, 0, 0.2);
}

.header .page-heading {
    display: flex;
    align-items: center;
}

.page-heading .logo {
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
}

.page-heading .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.page-heading .heading-link {
    text-decoration: none;
}

.page-heading .heading-link .heading-text {
    color: var(--primary);
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 5;
}


.header .nav-bar,
.header .nav-list {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 .5rem;
}

.nav-list .nav-items {
    list-style: none;
    margin-right: 1rem;
    transition: .3s ease;
}

.nav-list .nav-items .nav-links {
    background: var(--bg);
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--text);
    text-decoration: none;
    transition: .3s ease;
    border: 1px solid var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2),
        .5rem .5rem 10px rgba(0, 0, 0, 0.2);
}

.nav-list .nav-items .nav-links ion-icon {
    padding-right: .5rem;
    pointer-events: none;
}

.nav-list .nav-items .nav-links p {
    pointer-events: none;
}

.nav-list .nav-items .nav-links#register {
    background: none;
    color: var(--secondary);
    border-color: transparent;
    text-decoration: underline;
    font-size: 1.8rem;
    box-shadow: none;
}

.nav-list .nav-items .nav-links#register:hover {
    color: var(--primary);
}

.nav-list .nav-items .nav-links:hover,
.nav-list .nav-items .nav-links.active {
    color: var(--primary);
    box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2),
        inset .5rem .5rem 10px rgba(0, 0, 0, 0.2);
}



.nav-list .nav-items:last-child {
    margin-right: 0;
}

.header .theme-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-menu .dark-mode-toggle,
.theme-menu .themecolor {
    background: var(--bg);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .3s ease;
    -webkit-user-select: none;
    user-select: none;
    margin: .5rem;
    color: var(--text);
    box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2),
        .5rem .5rem 10px rgba(0, 0, 0, 0.2);
}

.theme-menu .themecolor {
    position: relative;
}

.themecolor .color-palate {
    position: absolute;
    top: 5rem;
    left: 50%;
    background: var(--bg);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: repeat(2, 3rem);
    grid-gap: .5rem;
    transform: translateX(-50%);
    padding: .5rem;
    transition: .3s ease;
    cursor: default;
}

.color-palate .colors {
    border-radius: 50%;
    background: var(--color);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 5px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.hamburger {
    display: grid;
    grid-template-columns: 4.5rem;
    grid-template-rows: repeat(3, .9rem);
    grid-gap: .25rem;
    padding: .2rem;
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem;
    display: none;
    transition: .3s ease;
}

.hamburger.active {
    display: grid;
    grid-template-rows: repeat(2, .9rem);
}

.hamburger.active span:last-child {
    display: none;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translateY(30%);
}

.hamburger.active span:nth-child(2) {
    transform: rotate(45deg) translateY(-30%);
}

.hamburger:hover span {
    background: var(--text);
}

.hamburger span {
    border: 1px solid var(--text);
    border-radius: .5rem;
    background: var(--fade-bg);
    opacity: 0.6;
    transition: .3s ease;
    pointer-events: none;
}



/* Responsive Work */
@media screen and (max-width:1250px) {
    html {
        font-size: 55%;
    }


    .nav-list .nav-items .nav-links {

        padding: 1rem;
    }

}

@media screen and (max-width:1000px) {
    .nav-list .nav-items .nav-links {
        padding: 1rem 2rem;
    }

    .nav-list .nav-items .nav-links p {
        display: none;
    }

    .nav-list .nav-items .nav-links ion-icon {
        padding-right: 0;
    }

}

@media screen and (max-width:820px) {
    .header {
        padding: 0 2rem;
    }

    .header .row {
        position: absolute;
        visibility: hidden;
        top: 10rem;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
        width: 100%;
    }

    .header .row.active {
        visibility: visible;
        height: auto;
        padding: 1rem;
        overflow: visible;
        background: var(--bg);
        box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2),
            inset .5rem .5rem 10px rgba(0, 0, 0, 0.2),
            .5rem .5rem 10px rgba(0, 0, 0, 0.2);
    }

    .nav-list .nav-items .nav-links {
        padding: 1rem 2rem;
    }

    .nav-list .nav-items .nav-links p {
        display: block;
    }

    .nav-list .nav-items .nav-links ion-icon {
        padding-right: .5rem;
    }

    .themecolor .color-palate {
        left: -1rem;
    }

    .hamburger {
        display: grid;
    }

}

@media screen and (max-width:660px) {
    .nav-list .nav-items .nav-links {
        padding: 1rem 2rem;
    }

    .nav-list .nav-items .nav-links p {
        display: none;
    }

    .nav-list .nav-items .nav-links ion-icon {
        padding-right: 0;
    }

}

@media screen and (max-width:450px) {
    html {
        font-size: 45%;
    }

    .header {
        padding: 0 1rem;
    }

    .page-heading .logo {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
    }


    .hamburger {
        grid-template-columns: 3.5rem;
        grid-template-rows: repeat(3, .6rem);
        grid-gap: .25rem;
    }
}