.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    padding: 0 5rem;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(120deg, var(--bg), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(5px);
    box-shadow: inset -.5rem -.5rem 10px rgba(255, 255, 255, 0.2), inset .5rem .5rem 10px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}

.header .page-heading {
    display: flex;
    align-items: center;
}

.page-heading .logo {
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
}

.page-heading .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.page-heading .heading-link {
    text-decoration: none;
}

.page-heading .heading-link .heading-text {
    color: var(--primary);
}

.header .nav-bar,
.header .nav-list {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 .5rem;
}

.nav-list .nav-items {
    list-style: none;
    margin-right: 1rem;
    transition: .3s ease;
}

.nav-list .nav-items .nav-links {
    background: linear-gradient(125deg, var(--bg), rgba(255, 255, 255, 0.1));
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--text);
    text-decoration: none;
    transition: .3s ease;
    border: 1px solid var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list .nav-items .nav-links ion-icon {
    padding-right: .5rem;
}

.nav-list .nav-items .nav-links#register {
    background: none;
    color: var(--primary);
    border-color: transparent;
    text-decoration: underline;
    font-size: 1.8rem;
}

.nav-list .nav-items:hover .nav-links {
    color: var(--night-text);
}

.nav-list .nav-items:hover {
    color: var(--night-text);
    transform: scale(1.1);
}

.nav-list .nav-items:last-child {
    margin-right: 0;
}

.header .theme-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-menu .dark-mode-toggle,
.theme-menu .themecolor {
    background: linear-gradient(125deg, var(--bg), rgba(255, 255, 255, 0.1));
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .3s ease;
    -webkit-user-select: none;
    user-select: none;
    margin: .5rem;
    color: var(--text);
}

.theme-menu .themecolor {
    position: relative;
}

.themecolor .color-palate {
    position: absolute;
    top: 5rem;
    left: 50%;
    background: var(--bg);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: repeat(2, 3rem);
    grid-gap: .5rem;
    transform: translateX(-50%);
    padding: .5rem;
    transition: .3s ease;
}

.color-palate .colors {
    border-radius: 50%;
    background: var(--color);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
}