.page.home {
    justify-content: flex-start;
    padding-top: 5rem;
}

.home .poster {
    width: 100%;
    background-attachment: fixed;
}

.poster img {
    width: 100%;
}

.home .para {
    width: 100%;
    margin: 1rem 0;
}

.home .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
}

.row .contact {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.links {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: .5rem;
}

.links a {
    color: var(--primary);
}

.links ion-icon {
    margin-right: 1rem;
    font-size: 2.5rem;
    color: var(--text);
}