.App {
  width: 100%;
  height: 100vh;
  background: var(--bg);
  overflow-x: hidden;
  padding-top: 10rem;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--fade-bg);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text);
  border-radius: .5rem;
}