:root {
  --primary: #2aeb87;
  --secondary: #1359fd;
  --accent: #0dcd6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  --text: #101010;
  --fade-bg: #505050;
  --bg: #ffffff;
}

body.dark {
  --text: #ffffff;
  --fade-bg: #c1c1c1;
  --bg: #262525;
}