:root {
  --primary: #5e60fb;
  --secondary: #f94747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  --text: hsl(0, 0%, 0%);
  --light-text: hsl(0, 0%, 20%);
  --bg: hsl(0, 0%, 100%);
  --bg-dark: hsl(0, 0%, 90%);
  --light-hover-color: rgba(0, 0, 0, 0.1);
  --dark-hover-color: rgba(0, 0, 0, 0.2);
}

body.dark {
  --text: hsl(0, 0%, 100%);
  --light-text: hsl(0, 0%, 80%);
  --bg: hsl(0, 0%, 20%);
  --bg-dark: hsl(0, 0%, 15%);
  --light-hover-color: rgba(0, 0, 0, 0.2);
  --dark-hover-color: rgba(0, 0, 0, 0.5);
}